@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  /* 10px = 1rem */
  scroll-behavior: smooth;
  font-family: "Bebas Neue", "cursive";
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", "cursive";
  font-weight: 400;
}

h1 {
  font-size: 4.9rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 9.7rem;
  }
  h2 {
    font-size: 6.4rem;
  }
  h3 {
    font-size: 5.4rem;
  }
}

p {
  font-size: 1.8rem;
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
}

@media screen and (min-width: 1000px) {
  p {
    font-size: 2.4rem;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1057px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  min-height: 100vh;
  position: relative;
  margin-left: 6rem;
  background-color: #303853;
  padding-bottom: 10rem;
  z-index: 0;
}

header::before {
  content: '';
  position: absolute;
  background: url("../Images/header-background.png"), #B2DD9E;
  background-blend-mode: screen, normal;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

header::after {
  content: '';
  position: absolute;
  background-color: #7988BE;
  width: 15%;
  height: 100%;
  right: 0%;
  top: 0;
  z-index: -1;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav .logo {
  margin-left: -6rem;
  font-family: "Bebas Neue", "cursive";
  text-transform: uppercase;
  font-size: 2.6rem;
  padding: 1rem 1.2rem;
  color: white;
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .container nav .logo a {
  color: white;
}

header .container nav .logo span {
  color: #6889FF;
}

header .container nav .close {
  display: block;
  position: relative;
  margin-left: auto;
  width: 2.8rem;
  height: 2.8rem;
  margin-bottom: 3.8rem;
  padding: 0.5rem;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

header .container nav .close::after {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 50%;
}

header .container nav .close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .container nav .menu {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #363B4E;
  height: 100vh;
  width: 70%;
  padding: 3.7rem 4.3rem 3.7rem 2rem;
  text-align: right;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header .container nav .menu ul {
  font-size: "Bebas Neue", "cursive";
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
}

header .container nav .menu ul li {
  margin-bottom: 1.1rem;
}

header .container nav .menu ul li a {
  color: white;
}

header .container main {
  min-height: 95vh;
  padding-top: 7rem;
  margin-right: 15%;
}

header .container main h1 {
  font-size: 4.9rem;
  line-height: 91.6%;
  text-align: center;
  max-width: 15ch;
  margin-bottom: 2.8rem;
  margin-left: auto;
  margin-right: auto;
}

header .container main p {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  max-width: 20ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
}

header .container main img {
  width: 198px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
    -webkit-filter: drop-shadow(5px 33px 8px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(5px 33px 8px rgba(0, 0, 0, 0.5));
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
    -webkit-filter: drop-shadow(5px 33px 8px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(5px 33px 8px rgba(0, 0, 0, 0.5));
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(5px 16px 5px rgba(0, 0, 0, 0.7));
  }
}

header.on .container nav .menu {
  right: 0;
}

.first-section {
  width: 100%;
  padding-top: 6rem;
  margin-left: 6rem;
  min-height: 80vh;
  background: #303853;
  position: relative;
  color: white;
  font-family: "Bebas Neue", "cursive";
  text-transform: uppercase;
}

.first-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../Images/first-section.png");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.17;
}

.first-section h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 6rem;
  max-width: 30ch;
}

.first-section p {
  font-size: 1.8rem;
  margin-left: 4rem;
  position: relative;
}

.first-section p::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 2px;
  background-color: white;
  left: -2.1rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.last-year-footage {
  padding-top: 5rem;
  margin-left: 4rem;
  padding-bottom: 4rem;
}

.last-year-footage h2 {
  margin-bottom: 4rem;
}

.last-year-footage .paragraph {
  margin-bottom: 4rem;
}

.last-year-footage .grid {
  width: 110%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "t-l t-m t-r" "m-l m-m m-r" "b-l b-m b-r";
}

.last-year-footage .grid img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: t-m;
}

.last-year-footage .grid img:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t-r;
}

.last-year-footage .grid img:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: m-l;
}

.last-year-footage .grid img:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: m-m;
}

.last-year-footage .grid img:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: b-m;
}

.contact {
  background-color: #B2DD9E;
  background-size: cover;
  padding-left: 4rem;
  padding-bottom: 5.3rem;
}

.contact h2 {
  padding: 3rem 2.5rem 2.5rem 0.5rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 0;
}

.contact h2::after {
  content: '';
  background-color: #9FC88C;
  position: absolute;
  width: 700px;
  height: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.contact form > * {
  display: block;
}

.contact form label {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Bebas Neue", "cursive";
  margin-bottom: 1.6rem;
}

.contact form input {
  margin-bottom: 3rem;
  width: 93%;
  height: 5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid #B2DD9E;
  font-size: 1.5rem;
  color: #303853;
}

.contact form button {
  background: black;
  height: 7.3rem;
  width: 93%;
  color: white;
  font-size: 3.5rem;
  font-family: "Bebas Neue", "cursive";
  border: none;
  margin-bottom: 6.1rem;
}

.contact a {
  font-family: "Montserrat", "sans-serif";
  display: block;
  color: black;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.contact .divider {
  width: 300px;
  height: 1px;
  background-color: #00000033;
}

.contact .divider:not(:last-child) {
  margin-bottom: 1.7rem;
}
/*# sourceMappingURL=style.css.map */